<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="ServiceSAServiceSoapBinding" maxReceivedMessageSize="655360">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftAnalyzer/services2/servicesa"
                binding="wsHttpBinding" bindingConfiguration="ServiceSAServiceSoapBinding"
                contract="ServiceReference1.ServiceSA" name="ServiceSAPort" />
        </client>
    </system.serviceModel>
</configuration>